<header>
  OUR MISSION IS TO BE THE DAILY HABIT IN LOCAL COMMERCE
</header>

<body>
  

<h1>Our Values</h1>

<h2>COMMUNITY</h2>
<h3>Build great neighborhoods</h3>
<p>We believe in great communities. Specifically, we believe that successful local businesses are the backbone of vibrant spaces. What makes your neighborhood great? It’s the combination of interesting and thriving businesses coupled with people who visit frequently. We are the thing that connects them, and we can make things better for both — building amazing communities in the process through our economic impact. Coupled with our volunteer efforts and social responsibility focus, there are numerous ways we can all make a greater difference.</p>

<h2>INSPIRATION</h2>
<h3>Make life less boring.</h3>
<p>We think life should be fun. For our customers that means showing them the amazing things they can experience right outside their doors and virtually anywhere they go. For merchants, it means helping make their businesses successful and their lives easier. For employees, it means building a great place to work. All of this is steeped in our sense of humor, our commitment to excitement.</p>

<h2>CUSTOMERS</h2>
<h3>Begin and end with the customer.</h3>
<p>Customers are why we’re here. They drive our business. When customers view us as a daily habit — as something indispensable — it will mean we’re solving fundamental challenges and delivering amazing value. Whether it’s consumers or the merchants we connect them with, everything we do should begin and end with the customer, and we will be willing to do the hard work for long-term customer happiness.</p>

</body>