section {
    height: 100%;
    background-color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr); /*better using 12 grids */
    grid-template-rows: 13% 80% 7%;
    font-size: 125%;
}


header , footer{
grid-column: span 12;
}

aside{
    grid-column: span 2;
}

main{

    grid-column: span 10;
}
div{
    height: 100%;
    position: absolute;
    top: 120px;
    right: 70px;
    padding: 10px;
}





