<div *ngIf="notLoggedIn || customerLoggedIn">

  <div *ngIf="allCoupons">

    <div class="column" *ngFor="let c of allCoupons">


      <!-- <td><img src="/assets/images/{{c.couponType}}/{{c.couponId}}.jpg"></td>  -->

      <!-- {{allCoupons | json}} -->


      <div class="row">
        <div class="card">
          <div>{{c.couponImage}}</div>
          <div class="title">{{c.couponTitle}}</div>
          <div class="myRow">DESCRIPTION:</div> {{c.couponMessage}}
          <div class="myRow">EXPIRATION DATE:</div>{{c.couponEndDate| date: 'dd/MM/yyyy'}}
          <div class="myRow">PRICE:</div> {{c.couponPrice}}$




          <div *ngIf="customerLoggedIn">
            <form #myForm="ngForm" (ngSubmit)='purchaseCouopn(c.couponId)'>

              <button [disabled]="myForm.form.invalid">Purchase</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>